build/docker/apaas
build/docker/openshift.local.config
build/docker/ssl

*vendor
_vendor/src/**/.[a-zA-Z]*
_vendor/src/k8s.io/*/.[a-zA-Z]*
#_vendor/src/k8s.io/*
#!_vendor/src/k8s.io/heapster
#_vendor/src/k8s.io/heapster/*
#!_vendor/src/k8s.io/heapster/LICENSE
#!_vendor/src/k8s.io/heapster/metrics
_vendor/src/k8s.io/heapster/CONTRIBUTING.md
#Godeps
#LICENSE
_vendor/src/k8s.io/heapster/Makefile
#README.md
_vendor/src/k8s.io/heapster/RELEASES.md
_vendor/src/k8s.io/heapster/common
_vendor/src/k8s.io/heapster/deploy
_vendor/src/k8s.io/heapster/docs
_vendor/src/k8s.io/heapster/events
_vendor/src/k8s.io/heapster/grafana
_vendor/src/k8s.io/heapster/hooks
_vendor/src/k8s.io/heapster/influxdb
_vendor/src/k8s.io/heapster/integration
_vendor/src/k8s.io/heapster/kafka
#metrics
_vendor/src/k8s.io/heapster/riemann
_vendor/src/k8s.io/heapster/version
#!_vendor/src/k8s.io/kubernetes
#_vendor/src/k8s.io/kubernetes/*
##!_vendor/src/k8s.io/kubernetes/LICENSE
#!_vendor/src/k8s.io/kubernetes/cmd
#!_vendor/src/k8s.io/kubernetes/federation
#!_vendor/src/k8s.io/kubernetes/pkg
#!_vendor/src/k8s.io/kubernetes/plugin
#!_vendor/src/k8s.io/kubernetes/third_party
#!_vendor/src/k8s.io/kubernetes/vendor
_vendor/src/k8s.io/kubernetes/CHANGELOG.md
_vendor/src/k8s.io/kubernetes/CONTRIB.md
_vendor/src/k8s.io/kubernetes/CONTRIBUTING.md
_vendor/src/k8s.io/kubernetes/DESIGN.md
#Godeps
#LICENSE
_vendor/src/k8s.io/kubernetes/Makefile
#README.md
_vendor/src/k8s.io/kubernetes/Vagrantfile
_vendor/src/k8s.io/kubernetes/api
_vendor/src/k8s.io/kubernetes/build
_vendor/src/k8s.io/kubernetes/cluster
#cmd
_vendor/src/k8s.io/kubernetes/code-of-conduct.md
_vendor/src/k8s.io/kubernetes/contrib
_vendor/src/k8s.io/kubernetes/docs
_vendor/src/k8s.io/kubernetes/examples
#federation
_vendor/src/k8s.io/kubernetes/hack
_vendor/src/k8s.io/kubernetes/hooks
_vendor/src/k8s.io/kubernetes/logo
#pkg
#plugin
_vendor/src/k8s.io/kubernetes/release
#test
#third_party
#vendor
_vendor/src/k8s.io/kubernetes/www

*.qcow2
*.img
openshift.local.etcd
openshift.local.volumes
secrets
_maven_compile/google-protobuf-plus-grpc/target/classes
_maven_compile/google-protobuf-plus-grpc/target/*.jar
.gradle

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
